.home__top {
  margin-top: -5rem;
  height: 1010px;
  background: url("./shared/pics/stephen-phillips-hostreviews-co-uk-em37kS8WJJQ-unsplash\ 1.png")
    no-repeat center center;
  background-size: cover;
  opacity: 2;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 500px;
}

.home__down-icon {
  height: 100px;
  width: 80px;
}

.home__section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
