.single__resource {
  background-color: #4dd4ac;
  color: #fff;
}

.w-50 {
  width: 45% !important;
}

.resource__paragraph {
  color: whitesmoke;
  font-size: 12px;
}

.resource__title {
  color: #152536;
}

.resource__subtitle {
  color: #68717a;
}
