body {
  padding-top: 0;
}

.homeContainer {
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/*
top layout
*/

.topMain {
  height: 1010px;
  background: url("../pics/stephen-phillips-hostreviews-co-uk-em37kS8WJJQ-unsplash\ 1.png")
    no-repeat center center;
  background-size: cover;
  opacity: 2;
  position: relative;
}

.title {
  position: absolute;
  width: 1000px;
  color: #fff;
  left: 27%;
  top: 50%;
}

.titleHeading {
  font-size: 74px;
}

.titleSubHeading {
  font-size: 29px;
  padding-left: 31px;
}

header {
  position: relative;
}

nav {
  top: 15px;
  width: 100%;
  margin-left: 42px;
  position: absolute;
}

/*
   Bulga logo
*/

.logo {
  display: inline-block;
}

/*
  navigation ul li
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

li {
  display: inline;
  margin-left: 1.7rem;
}

.firstLink {
  padding-left: 3.33rem !important;
  text-decoration: underline !important;
}

.link {
  font-size: 0.93rem;
  text-decoration: none;
}

/*
  navigation buttons styles
*/

button {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.register {
  display: inline-block;
  padding-left: 70px;
}

#login {
  font-size: 1.2rem;
  margin-right: 1rem;
  background-color: #fff;
  color: #20c997;
  height: 2.2rem;
  line-height: 1rem;
}

#signUp {
  font-size: 1.2rem;
  background-color: #20c997;
  color: #fff;
  line-height: 1rem;
  height: 2.2rem;
}

.downIcon {
  position: absolute;
  width: 52px;
  height: 26px;
  left: 694px;
  top: 900px;
  height: 100px;
  width: 80px;
  color: white;
}

/*
bottom part layout
*/

.bottomMain {
  width: 80%;

  margin: 0 auto;
}

.leftPart {
  height: 400px;
  width: 500px;
  line-height: 1.3rem;
  padding-top: 3rem;
  padding-left: 2rem;
}

.rightPart {
  height: 350px;
  width: 500px;
  line-height: 1.3rem;
  padding-left: 1.4rem;
}

/*
  top layer 
*/

.topSection {
  display: flex;
  align-items: flex-end;
}

.bulgaDesc {
  font-size: 14px;
  color: rgb(196, 186, 186);
}

.pigPic {
  padding-bottom: 5rem;
}

/*
  bottom layer
*/

.bottomSection {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

/*
  footer
*/

.footerContainer {
  height: 200px;
  width: 100vw;
  background-color: #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerNav a {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}

.footerLogo {
  padding-left: 120px;
}

.footerNav {
  padding-right: 120px;
}

.footerNav a:hover {
  cursor: pointer;
}

.footerNav a.active {
  background-color: #04aa6d; /* Add a green color to the "active/current" link */
  color: blue;
}
