.greenBtn {
    color: green !important;
}
.card-title {
    color:#20C997;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}