@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.steps {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 613px;
  background-color: $teal-400;
}
.steps > li {
  color: #ffff;
}
.steps b {
  font-weight: bold;
}
.categoriesForm {
  display: grid;
  justify-content: center;
  align-items: center;
}
.form__container {
  width: 700px;
}
.form__title {
  font-size: 48px;
  color: #6c757d;
}
.form__subtitle {
  font-size: 12px;
  color: #6c757d;
}
.form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__container {
  position: absolute;
  right: -20px;
  bottom: 420px;
}
